{sub_dirs, ["src"]}.

{erl_opts, [debug_info, bin_opt_info, {i, "include"}]}.

{deps, [
    {nthrottle, ".*", {git, "git@github.com:nomasystems/nthrottle.git", {branch, "main"}}},
    {nhooks, {git, "git@github.com:nomasystems/nhooks.git", {tag, "1.0.0"}}}
]}.

{plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.0.0"}}}
]}.

{erlfmt, [write]}.

{provider_hooks, [
    {pre, [{compile, fmt}]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test_ci, [
        {ct, "--spec test/conf/test-ci.spec --cover --readable true"}
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]}
]}.

{cover_enabled, true}.

{xref_checks, [
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, [
    npqueue,
    {npqueue_partition_srv, start_link, 4},
    {npqueue_srv, start_link, 5},
    {npqueue_partition_sup, start_link, 4},
    {npqueue_partition_srv, stop, 2}
]}.
